/* General Reset */


/* Dark Mode Styling */
body {
 
    /* text-align: center; */
    display: block;  
    /* normally on the main styles.css, the body is flexed which affects my gallary */
    padding: 0px;
}

 

/* FIGURES AND CAPTIONS */
.figure-and-caption {
    padding: 0px 0px 30px 20px;
    margin-top: 0px;
}
.figure-and-caption p { 
    margin-bottom: 4px;
}

/* IMAGES */

.landscape-body-img {
    width:350px;
    height:200px;   
    background-color: rgba(44, 66, 105, 0.183); 
    
    border-radius: 8px;
    display: flex;
    justify-content: center;

    align-items: center;
    overflow: hidden;

}
.potrait-body-img {
    width:160px;
    height:290px; 
    background-color: rgba(44, 66, 105, 0.183); 
    
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.square-body-img {
    width:290px;
    height:290px; 
    background-color: rgba(44, 66, 105, 0.183); 
    
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.landscape-body-img img, .potrait-body-img img, .square-body-img img{ 
    top:0; left:0; 
    width:100%;
    
    border-radius: 8px;
      
    /* optionally disable these two */
    /* flex-shrink: 0; */
    /* min-width: 100%;  */
    /* min-height: 100%; */
    
    /* transition: transform 0.3s; */
}
.landscape-body-img img:hover, .potrait-body-img img:hover, .square-body-img img:hover {
    /* transform: scale(1.1); */
}


/* Game Gallery Scroll */
div.scroll-container {
    background-color: rgba(1, 9, 29, 0.428);
    overflow: auto;
    white-space: nowrap;
    padding: 15px;
}
div.scroll-container img {
    padding: 10px;

    border-radius: 18px;
    transition: transform 0.3s;

}
div.scroll-container img:hover {
  transform: scale(1.1);
}


/* youtube-iframe" */
.youtube-iframe { 
    display: flex; 
}
.youtube-iframe iframe { 
    margin: 0 auto;
}

/* Links */
a {
    text-decoration: none; 
    color: #CCD6F6;
    font-weight: bold;
}

a:hover {
    color: #64FFDA;
}


/* Footer */
footer {
    margin-top: 20px;
    font-size: 14px;
} 